
/* CONFIGURACAOES GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: rgb(230, 223, 223);
    font-family: 'Poppins', sans-serif;
}

/* CABECALHO */

#cabecalho{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    padding: 10px;

    margin: 0 0 30px 0;
}
#cabecalho > i{
    display: none;
}
.logo-cabecalho > img{
    width: 50px;
}

#menuToggle > a{
    margin: 10px;
    text-decoration: none;
    color: black;

    position: relative;
}
#menuToggle > a::before{
    content: '';

    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 1px;

    background-color: green;

    transition: all 0.5s ease-in-out;
}
#menuToggle > a:hover{
    color: green;

    transition: all 0.5s ease-in-out;
}
#menuToggle > a:hover:before{
    width: 100%;
}
#menuToggle > button{
    padding: 15px;
    background-color: rgb(14, 167, 14);
    color: white;
    border: 0;
    margin: 0 0 0 20px;

    transition: all 0.3s ease-in;
}
#menuToggle > button:hover{
    background-color: green;
}

/* CONTEUDO PRINCIPAL */

#conteudo-principal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.conteudo-info{
    width: 500px;
    font-size: 1.5em;
    padding: 20px;
}
.conteudo-info > h2{
    margin: 0 0 10px 0;
}
.conteudo-info > p{
    text-align: justify;
    margin:  0 0 20px 0;
}
.conteudo-info > button{
    height: 62px;
    width: 50%;
    border: 0;
    background-color: black;
    color: white;
    font-size: 18px;

    transition: all 0.2s ease-in;
}

.conteudo-info > button:hover{
    background-color: rgba(0, 0, 0, 0.534);
}
.img-conteudo-principal > img{
    width: 460px;
    transform: skew(-7deg, 5deg);
}
.conteudo-redes-sociais{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.conteudo-redes-sociais > img{
    width: 40px;
    opacity: 0.9;
    border-radius: 50%;
    
    transition: all 0.3s ease-in;
}
.conteudo-redes-sociais > img:hover{
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

/* RODAPE */

#rodape {
    text-align: center;

    padding: 40px;
}
#rodape > a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.404);
    margin: 10px;
}
#rodape > a:hover{
    color: rgba(0, 0, 0, 0.479);
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    #cabecalho > i{
        display: block;
    }
    .conteudo-info{
        text-align: center;
    }
    .conteudo-redes-sociais{
        flex-direction: row;
    }
    #menuToggle{
        display: none;
    }
    #menuToggle > button{
        display: none;
    }
}